<ul>
    <li>
        <a href="/osoby/">osoby</a>
    </li>
    <li>
        <a href="/add_osoba/">Dodaj osoby</a>
    </li>
    <li>
        <a href="/filmy/">filmy</a>
    </li>
    <li>
        <a href="/add_filmy/">dodaj Film</a>
    </li>
    <li>
        <a href="/osoby/">osoby</a>
    </li>
    <li>
        <a href="/add_osoba/">Dodaj osoby</a>
    </li>
    <li>
        <a href="/filmy/">filmy</a>
    </li>
    <li>
        <a href="/add_filmy/">dodaj Film</a>
    </li>
</ul>
{% block content %}
{% endblock %}